:root {
    --dark-color-background: #001d3a;
    --dark-color-text: #f5f4f0;
    --dark-color-text-aside: #e6e4e4;
    --dark-color-link: #00aff4;
    --dark-color-menu-divider: #eee;
    --dark-color-menu-divider-focus: #000;
    --dark-color-menu-label: #707070;
    --dark-color-panel: rgba(0, 0, 0, 0.4);
    --dark-color-panel-divider: #818181;
    --dark-color-comment-tag: navy;
    --dark-color-comment-tag-text: #f5f4f0;
    --dark-color-ts: #c97dff;
    --dark-color-ts-interface: #9cbe3c;
    --dark-color-ts-enum: #d6ab29;
    --dark-color-ts-class: #3695f3;
    --dark-color-ts-private: #e2e2e2;
    --dark-color-toolbar: rgba(0, 0, 0, 1);
    --dark-color-toolbar-text: #f7e007;
    --dark-icon-filter: invert(1);
}

* {
    line-height: 1.6;
}

pre {
    margin: 1rem !important;
}

