section {
    width: calc(100% - 1rem);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

button {
    margin: 0.5rem;
}

#app {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}